body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  background-color: #191919;
  color: #fff;
}

.logo {
  font-family: cursive;
  font-weight: bold;
  font-size: 2.0rem;
}

.nav-link{
  color: #fff !important;
  font-size: 1.25rem;
  opacity: 0.6;
}


.nav-link:hover{
  opacity: 1;
  transition: all 0.7s;
}

.card{
  border: 0;
  width: 16.6rem!important;
  background-color: rgb(49, 49, 49);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.2);
}

.fa-spinner{
  color: #F5F5F5;
  font-size: 100px;
}
